canvas{
    border: 2px solid black;
}
h3{
    position: relative;
    margin-top: 0%;
}
#gameOver{
    color: red;
    position: relative;
    top: 40%;
    display: none;
}
#agian{
    position: relative;
    margin-top: 158%;
    /* display: none; */
}
#start{
    position: absolute;
    top: 91.5%;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    cursor: pointer;
}
span{
    position: relative;
    top: 15%;
    left: 35%;
}