.startButton{
    margin-right:60%;
    margin-top: 5%;
    width: 400px;
    height: 90px;
    background-image: linear-gradient(27deg,#ff4949,#ffa9a9);
    border-radius: 35px;
    cursor: pointer;   
}
/* .logo{
left: 10%;
} */
.playGame{
    color:rgb(83, 32, 32);
    font-weight: bold;
}
.gameName{
font-size: 50px;
font-family: sans-serif;
color: #f59c16;
font-weight: bold;
font-size: 80px;
stroke: tomato;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgb(119, 24, 24);
}
.rescue{
font-family: sans-serif;
color: #b8e615;
font-weight: bold;
font-size: 80px;
stroke: aqua;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgb(5, 78, 56);
}
